<app-header></app-header>
<div class="p-4">
    <h3>Updates</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nobis voluptas hic deserunt nam, maxime laborum distinctio ad accusamus. Natus ad exercitationem sunt totam porro eos optio maiores, corrupti veniam!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nobis voluptas hic deserunt nam, maxime laborum distinctio ad accusamus. Natus ad exercitationem sunt totam porro eos optio maiores, corrupti veniam!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nobis voluptas hic deserunt nam, maxime laborum distinctio ad accusamus. Natus ad exercitationem sunt totam porro eos optio maiores, corrupti veniam!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nobis voluptas hic deserunt nam, maxime laborum distinctio ad accusamus. Natus ad exercitationem sunt totam porro eos optio maiores, corrupti veniam!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nobis voluptas hic deserunt nam, maxime laborum distinctio ad accusamus. Natus ad exercitationem sunt totam porro eos optio maiores, corrupti veniam!</p>
</div>