<div class="verify-email">
    <div class="box">
        <ng-container *ngIf='!response'>
            <p class="status">Verifing email...</p>
        </ng-container>
        <ng-container *ngIf='verificationSuccess'>
            <p class="status">Verification Successfull</p>
            <p class="message">{{successMessage}}</p>
        </ng-container>
        <ng-container *ngIf='verificationFailed'>
            <p class="status">Verification Failed</p>
            <p class="message error-message">Error: {{errorMessage}}</p>
        </ng-container>
    </div>
</div>
<ngx-spinner></ngx-spinner>