<div class="row">
    <div class="col-lg-4 col-md-12 bg-auth-group">
         <img src="../../../assets/images/logo.png" class="logo_header"/>
         <p class="para_bg_login">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         </p>
    </div>

    <div class="col-lg-8 col-md-12 p-0">
        <div class="login_auth_box d-flex px-4">
            <div class="mt-4">
                <p class="ProductSansBold login_heading">Terms and conditons</p>
                <p class="ProductSans400">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iure tempora officiis accusamus, asperiores voluptates. Quibusdam praesentium cumque sapiente deleniti, quos inventore enim sint minima recusandae eaque aperiam unde nesciunt.
                </p>
                <p class="ProductSans400">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iure tempora officiis accusamus, asperiores voluptates. Quibusdam praesentium cumque sapiente deleniti, quos inventore enim sint minima recusandae eaque aperiam unde nesciunt.
                </p>
                <p class="ProductSans400">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iure tempora officiis accusamus, asperiores voluptates. Quibusdam praesentium cumque sapiente deleniti, quos inventore enim sint minima recusandae eaque aperiam unde nesciunt.
                </p>
                <h5>Lorem Ispum</h5>
                <ul>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </li>
                    <li>Quasi est iure labore eligendi culpa commodi reprehenderit </li>
                    <li>quam, ipsa, nostrum, dolorem impedit similique </li>
                    <li>ab. Beatae, asperiores. Neque asperiores hic sint debitis!</li>
                </ul>
            </div>
        </div>
        <footer class="footer_class">
            <div class="row">
                <div class="col-lg-8 order-mobile-tab-1">
                   <ul class="footer_unders">
                       <li><a>@2020</a></li>
                       <li><a routerLink='/terms-and-conditions'>Terms of use</a></li>
                       <li><a routerLink='/privacy-policy'>Privacy policy</a></li>
                       <li><a>Trust & Safety</a></li>
                   </ul>
                </div>

                <div class="col-lg-4 tab_footer_view order-mobile-tab">
                         <a class="new_class">New here?</a>
                         <a [routerLink]="['/register']" class="btn_create">Create New Account</a>
                </div>
            </div>
        </footer>
    </div>
</div>
