<app-header></app-header>
<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
      </style>
   </head>
   <body>
      <div class="container py-4">
         <h4 class="pay_head">MVP notes</h4>
         <hr />

               <!-- form start -->
               <form [formGroup]="stripeTest" class="">
                <div class="row">
                  <div class="col-md-6">
                  <div class="mb-5">
                     <p class="form_labell">Personal Details</p>
                     <div class="form-row m-0">
                        <div class="form-group col-md-6 mb-0 p-0">
                           <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="First name">
                           <div *ngIf='stripeTestError.firstName' class="alert- mt-2">{{stripeTestError.firstName}}</div>
                        </div>
                        <div class="form-group col-md-6 mb-0 p-0">
                           <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Last name">
                           <div *ngIf='stripeTestError.lastName' class="alert- mt-2">{{stripeTestError.lastName}}</div>
                        </div>
                     </div>
                     <!-- <div class="form-group mb-0 p-0">
                        <input type="text" class="form-control" formControlName="name" id="companyName" placeholder="Company name(Optional)">
                        </div> -->
                     <div class="form-group mb-0 p-0">
                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                     </div>
                     <div *ngIf='stripeTestError.email' class="alert- mt-2">{{stripeTestError.email}}</div>
                  </div>
                  <div>
                     <p class="form_labell">Billing Details</p>
                     <div class="form-group mb-0 p-0 w-100">
                        <ng-select formControlName="country">
                           <ng-option  *ngFor='let country of countryList' [value]="country">{{country}}</ng-option>
                        </ng-select>
                        <div *ngIf='stripeTestError.country' class="alert- mt-2">{{stripeTestError.country}}</div>
                     </div>
                     <div class="form-group mb-0 p-0">
                        <input type="text" class="form-control" formControlName="streetAddress" id="streetAddress"
                           placeholder="Street address">
                     </div>
                     <div *ngIf='stripeTestError.streetAddress' class="alert- mt-2">{{stripeTestError.streetAddress}}</div>
                     <div class="form-group mb-0 p-0">
                        <input type="text" class="form-control" formControlName="apartment" id="apartment"
                           placeholder="Apartment, suite, unit, etc. (Optional)">
                     </div>
                     <div *ngIf='stripeTestError.apartment' class="alert- mt-2">{{stripeTestError.apartment}}</div>
                     <div class="form-group mb-0 p-0">
                        <input type="text" class="form-control" formControlName="city" id="city" placeholder="Town/City">
                     </div>
                     <div *ngIf='stripeTestError.city' class="alert- mt-2">{{stripeTestError.city}}</div>
                     <div class="form-group p-0">
                        <input type="text" class="form-control" formControlName="postal" id="postal"
                           placeholder="Zip/Postal code">
                     </div>
                     <div *ngIf='stripeTestError.postal' class="alert- mt-2">{{stripeTestError.postal}}</div>
                     <div class="form-group mb-0 p-0">
                        <input type="text" class="form-control" formControlName="coupon" id="coupon" placeholder="Coupon code">
                        &nbsp;&nbsp;&nbsp;
                        <button class="redeem-btn" *ngIf='discount === null;else apply' (click)="applyCoupon()">Redeem</button>
                        <ng-template #apply>
                           <button class="cancle-promo" (click)="cancleCoupon()"><img src="../../../assets/images/cancel.png"
                              class="tick" /></button>
                        </ng-template>
                     </div>
                  </div>
                </div>
                  <div class="col-md-6">
                     <h4 class="mb-0">Couch class</h4>
                     <p>Subscription</p>
                     <div class="total-div">
                        <div class="d-flex justify-content-between align-items-center">
                           <p class="subtotal">Subtotal</p>
                           <p>${{planData.planPrice}}</p>
                        </div>
                        <div *ngIf='discount !==null' class="d-flex justify-content-between align-items-center">
                           <p class="subtotal">Discount</p>
                           <p>${{discount}}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                           <p class="subtotal">Total (CAD)/month</p>
                           <h5>${{planPrice}}</h5>
                        </div>
                     </div>
                     <div class="d-flex justify-content-between mx-5 my-4 safe-data-div">
                        <p><span><i class="fa fa-shield"></i></span> SAFE PAYMENT</p>
                        <p><span><i class="fa fa-lock"></i></span> DATA PROTECTION</p>
                     </div>
                     <div class="form-group">
                        <label for="CreditCardNumber" class="pay-label">Card number</label>
                        <!-- <input id="CreditCardNumber" class="null card-image form-control" type="text" /> -->
                        <ngx-stripe-card
                        [options]="cardOptions"
                        [elementsOptions]="elementsOptions"
                      ></ngx-stripe-card>
                     </div>
                     <!-- <div class="form-group mb-0 p-0">
                        <input type="" class="form-control" id="card" [cleave]="{creditCard:true}" formControlName="card"
                           placeholder="1234 1234 1234 1234" maxlength="19">
                     </div> -->
                     <!-- <div *ngIf='stripeTestError.card' class="alert- mt-2">{{stripeTestError.card}}</div> -->
                     <!-- <div  class="alert- mt-2">{{cardMessage}}</div> -->

                     <!-- <div class="form-row m-0">
                        <div class="form-group col-md-3 mb-0 p-0">
                          <ng-select formControlName="expMonth">
                            <ng-option  *ngFor='let month of months' [value]="month">{{month}}</ng-option>
                         </ng-select>

                           <div *ngIf='stripeTestError.expMonth' class="alert- mt-2">{{stripeTestError.expMonth}}</div>
                        </div>
                        <div class="form-group col-md-3 mb-0 p-0">
                           <ng-select formControlName="expYear" >
                            <ng-option  *ngFor='let year of years' [value]="year">{{year}}</ng-option>
                         </ng-select>

                           <div *ngIf='stripeTestError.expYear' class="alert- mt-2">{{stripeTestError.expYear}}</div>
                        </div>
                        <div class="form-group col-md-6 mb-0 p-0">
                           <input type="text" class="form-control" id="" formControlName="cvc" maxlength="3" placeholder="CVV">
                           <div *ngIf='stripeTestError.cvc' class="alert- mt-2">{{stripeTestError.cvc}}</div>
                        </div>
                     </div> -->
                     <button class="pay_button" (click)='createToken()'>Pay with Credit or Debit Card</button>
                     <button class="cancel_button">Cancel</button>
                  </div>

                </div>
               </form>
               <!-- form ends -->

      </div>
   </body>
</html>
<div>
   <ngx-spinner></ngx-spinner>
</div>
